.app {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 20px 0;
  width: 100%;
  align-items: flex-start;
}

.loading,
.error {
  display: flex;
  font-size: 24px;
  font-weight: bold;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: black;
  background-color: aqua;
}

.error {
  color: red
}