* {
  box-sizing: border-box;
  margin: 0;
}

table {
  border-collapse: collapse;
}

th {
  background: rgb(193, 193, 193);
}

td {
  background: #fff;
  text-align: center;
}

th,
td {
  border: 1px solid black;
  padding: 5px 10px;
}

tbody tr {
  cursor: pointer;
}

input {
  border: none;
  outline: none;
  padding: 0;
}

h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

button {
  margin-top: 10px;
  cursor: pointer;
}

button:disabled {
  cursor: auto;
}